<div class="col s12 m4">
    <div class="card indigo">
      <div class="card-content white-text">
        <div class="card-title red center">
            <i class="material-icons fa fa-male"></i>
            <span>Engineer</span>
        </div>
        <div class="card-body">
            <p><i class="material-icons fa fa-user"></i> Name : <span>${ans.name}</span></p>
            <p><i class="material-icons fa fa-share-square"></i> ID : <span>${ans.id}</span></p>
            <p><i class="material-icons fa fa-envelope-o"></i> Email : <span>${ans.email}</span></p>
            <p><i class="material-icons fa fa-github-alt"></i> UserName : <span>${ans.github}</span></p>
        </div>
      </div>
    </div>
</div>